/* Write your CSS here! */
body {
  margin-top: 8 px;
  margin-bottom: 8 px;
  margin-right: 8 px;
  margin-left: 8 px;
  display: block
}

#mainHeading {
    color: red
}

.funParagraph {
    color: green
}

